
@media (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        background-color: #333;
        padding: 10px;
        border-radius: 8px;
        width: 100%; 
    }

    .nav-links.active {
        display: flex; 
    }

    .nav-links li {
        margin: 10px 0;
    }

    .card3{
        width: 300px;
    }

    .section {
        background-color: #f4f4f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
    }
    
    .section:hover {
        background-color: #0056b3;
        color:#98FF98 ;
    }
    
}